<header>
    <div class="container">
        <div class="header-content">
            <a
                href="https://samnart1.github.io/samnart1/"
                class="logo"
                onclick="showHome()"
                >Sam Nart</a
            >
            <nav>
                <a
                    href="https://samnart1.github.io/samnart1/"
                    onclick="showHome()"
                    >Home</a
                >
                <a href="../articles.html" onclick="showArticles()">Articles</a>
                <a href="../blog.html" onclick="showBlog()">Blog</a>
                <button class="theme-toggle" onclick="toggleTheme()">🌙</button>
            </nav>
            <button class="mobile-menu-btn" onclick="toggleMobileMenu()">
                ☰
            </button>
        </div>
        <div class="mobile-nav" id="mobileNav">
            <a
                href="https://samnart1.github.io/samnart1/"
                onclick="showHome(); toggleMobileMenu()"
                >Home</a
            >
            <a
                href="../articles.html"
                onclick="showArticles(); toggleMobileMenu()"
                >Articles</a
            >
            <a href="../blog.html" onclick="showBlog(); toggleMobileMenu()"
                >Blog</a
            >
            <button class="theme-toggle" onclick="toggleTheme()">🌙</button>
        </div>
    </div>
</header>
